# JWT Configuration
JWT_SECRET=my_super_secret_jwt_key_change_me
JWT_EXPIRES_IN=15m

REFRESH_JWT_SECRET=my_super_secret_refresh_jwt_key_change_me
REFRESH_JWT_EXPIRES_IN=7d



# Database connection string
DB_SSL=false
DB_PORT=5432
DB_HOST=localhost
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=ecommerce



# SMTP Configuration
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=587
SMTP_USERNAME=your_smtp_username
SMTP_PASSWORD=your_smtp_password

# Mailtrap Inbox (for mail viewer page) — find your inbox ID in the Mailtrap URL: mailtrap.io/inboxes/{INBOX_ID}
#! SET THESE VALUES IF YOU WANT TO USE MAILTRAP FOR TESTING EMAILS
MAILTRAP_INBOX_ID=123456
MAILTRAP_ACCOUNT_ID=654321
MAILTRAP_API_TOKEN=your_mailtrap_api_token



# Storage Provider Configuration
STORAGE_PROVIDER=cloudinary


# Cloudinary Configuration 
#! SET THESE VALUES IF YOU WANT TO USE CLOUDINARY AS YOUR UPLOAD PROVIDER
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_SECRET=your_api_secret
CLOUDINARY_API_KEY=your_api_key


# MinIO Configuration
#! SET THESE VALUES IF YOU WANT TO USE MINIO AS YOUR UPLOAD PROVIDER
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=admin123
MINIO_BUCKET_NAME=uploads
MINIO_PUBLIC_URL=http://localhost:9000



# Stripe Configration
STRIPE_SECRET_KEY=sk_xxxxxx
STRIPE_WEBHOOK_SECRET=whsec_xxxxxx
STRIPE_PUBLISHABLE_KEY=pk_xxxxxx
STRIPE_CURRENCY=usd


# Configuration for other services can be added here as needed
ORDER_EXPIRATION_TIME_MINUTES=15